.footer {
    display: flex;
    padding: 0px 100px;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

span {
    color: #032D60;
    font-family: Roboto;
    font-size: 16.031px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.lista2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    color: #032E61;
    font-family: Roboto;
    font-size: 14.125px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.final {
    display: flex;
    padding: 1px 333.405px 1px 333.595px;
    flex-direction: column;
    align-items: center;
    align-self: stretch;

    color: #032D60;
    font-family: Roboto;
    font-size: 11.703px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}